@using Microsoft.CodeAnalysis.CSharp.Syntax
@model SmartProfil.ViewModels.AllCartProducts

@{ ViewData["Title"] = "My Shopping Cart"; }

@if (this.TempData.ContainsKey("Message"))
{
<div class="alert alert-heading alert-dismissible" style="color: mediumseagreen; font-weight: bold; text-align: center">
    @this.TempData["Message"]
</div>}

@{
    var shippingCost = 6.90;

    decimal subTotal = 0;

    foreach (var product in Model.AllCartItems)
    {
        subTotal += product.TotalPrice;
    }

    var totalPrice = subTotal + (decimal)shippingCost;
} 

@if (Model.AllCartItems.Count() != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var product in Model.AllCartItems)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="pull-left" asp-controller="Products" asp-action="ById" asp-route-id="@product.Id"><img src="@product.Image" style="width: 82px; height: 82px;"></a>
                                    <div class="media-body" style="padding-left: 16px">
                                        <h5><a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id" style="font-weight: bold">@product.ManufacturerName @product.Name @product.Model</a></h5>
                                        <span style="font-weight: bold">Status: </span><span class="text-success"><strong>Leaves warehouse in 2 - 3 days</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <h6>@product.Quantity</h6>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.SinglePrice</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.TotalPrice</strong></td>
                            <td class="col-sm-1 col-md-1">
                                @using (Html.BeginForm("Remove", "Cart",
                                    new {productId = product.Id}, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td><h6>Subtotal</h6></td>
                        <td class="text-right"><h6><strong>@subTotal lv.</strong></h6></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td><h6>Estimated shipping</h6></td>
                        <td class="text-right">
                            <h6>
                                @if (subTotal > 1000)
                                {
                                    <strong style="color: mediumseagreen"> Free for orders over 1000 lv.</strong>
                                }
                                else
                                {
                                    <strong>6.94 lv.</strong>
                                }

                            </h6></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <h5>Total</h5>
                        </td>
                        <td class="text-right">
                            <h5>
                                @if (subTotal > 1000)
                                {
                                    <strong>@subTotal</strong>
                                }
                                else
                                {
                                    <strong>@totalPrice lv.</strong>
                                }

                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td style="width: 300px">
                            <a asp-controller="Products" asp-action="All" class="btn btn-primary" style="width: 200px">Continue Shopping</a>
                            @*<button type="button" class="btn btn-outline-primary">
                                Continue Shopping
                            </button>*@
                        </td>
                        <td>
                            <a asp-controller="Orders" asp-action="OrderForm" class="btn btn-primary" style="color: mediumseagreen;">Checkout</a>
                            @*<button type="button" class="btn btn-primary" style="color: mediumseagreen; height: 60px">
                                Checkout
                            </button>*@
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div >
    <h2 style="color: purple; text-align: center; padding-top: 20px">Your cart is empty !</h2>
    <img class="" style="width: auto; height: auto;padding-top: 10px ;padding-left: 340px" src="~/images/Empty cart/Empty_Shopping_Cart_blog.jpg"/>
    </div>
}

