@model SmartProfil.ViewModels.ProductsListViewModel
@{
    this.ViewData["Title"] = "All products";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">@this.TempData["Message"]</div>
}

<h2 style=" color: #00e600">@this.ViewData["Title"]</h2>
<hr />
<div class="row">
    @foreach (var product in this.Model.Products)
    {
        <div class="card col-md-4" style="width: 18rem;">
            <a asp-action="ById" asp-route-id="@product.Id">
                <img class="card-img-top mx-1" src="@product.Image" alt="Card image cap" style="width: 17rem; height: 12rem;">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a asp-action="ById" asp-route-id="@product.Id">@product.ManufacturerName @product.Name @product.Model</a></h5>
                <p class="card-text">
                    @if (product.Description.Length>150)
                    {
                        @product.Description.Substring(0,150)<span> ...</span> ;
                    }
                    else
                    {
                        @product.Description
                    }
                    
                </p>
                <a asp-action="ById" asp-route-id="@product.Id" class="btn btn-success">Buy</a>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />