@model SmartProfil.ViewModels.ProductsListViewModel
@{
    this.ViewData["Title"] = "All accessories";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible" style="padding-top: 30px">@this.TempData["Message"]</div>
}

<h2 style=" color: purple">@this.ViewData["Title"]</h2>
<hr />
<div class="row" >
    @foreach (var product in this.Model.Products)
    {
        <div class="card col-md-4" style="width: 390px; padding-left: 10px">
            <a asp-action="ById" asp-route-id="@product.Id">
                <img class="card-img-top mx-1" src="@product.Image" alt="Card image cap" style="width: 299px; height: 260px;">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a asp-action="ById" asp-route-id="@product.Id">@product.ManufacturerName @product.Name @product.Model</a></h5>
                <p class="card-text">
                    @if (product.Description.Length > 100)
                    {
                        @product.Description.Substring(0, 100)<span> ...</span> ;
                    }
                    else
                    {
                        @product.Description
                    }

                </p>
                <a asp-action="ById" asp-route-id="@product.Id" class="btn btn-primary" style="color: mediumseagreen">Buy</a>
            </div>
        </div>
    }
</div>
<hr />
<partial name="Paging/_PagingAllAccessories" model="@Model" />