@model SmartProfil.ViewModels.SingleProductViewModel

@{
    this.ViewData["Title"] = @Model.Name + " " + @Model.Model;
}

<div style="padding-top: 15px">
    <div class="row">
        <div class="col-lg-4">
            <div>
                <img src="@Model.Image" class="embed-responsive">
            </div>
        </div>
        <div class="col-lg-6" style="padding-left: 50px">
            <div>
                <h2 style="padding-top: 8px">@Model.Name @Model.Model</h2>
                <div class="col-md-4">
                    <div>
                        <img src="@Model.ManufacturerImage" class="embed-responsive" style="width: 180px; height: 80px">
                    </div>
                </div>
                @*<span style="font-weight: bold">@Model.UnitPrice лв.</span>*@
                <h5>@Model.UnitPrice лв.</h5>
                <div>
                    <h4 style="font-weight: bold; padding-top: 12px">Description</h4>
                    <p style="padding-top: 8px">@Model.Description</p>
                </div>
                <div class="">
                    <span style="color: #00e600">Expected Delivery in 2-5 days</span>
                </div>
                <div>
                    @using (Html.BeginForm("AddToCart", "Cart", 
                        new { productId = Model.Id, quantity = "quantity" }, FormMethod.Post))
                    {
                        <div class="input-group " style="padding-top: 12px" align="left">
                            <p align="left" style="font-weight: bold">
                                Quantity:
                                <input class="form-control col-md-6" type="number" value="1" name="quantity" id="quantity">
                            </p>
                            <button type="submit" class="btn btn-primary" style="color: mediumseagreen; height: 60px;"> Add to cart </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <hr/>
            <h4 style="font-weight: bold">Specifications</h4>
            <div>
                <ul>
                    @if (Model.Length.HasValue)
                    {
                        <li>Length = @Model.Length m.</li>
                    }
                    @if (Model.Weight.HasValue)
                    {
                        <li>Weight = @Model.Weight kg.</li>
                    }
                    @if (Model.Width.HasValue)
                    {
                        <li>Width = @Model.Width mm.</li>
                    }
                </ul>
                <p class="col-md-8">
                    @Model.Specifications
                </p>
            </div>
        </div>
    </div>
</div>



