@model SmartProfil.ViewModels.SingleProductViewModel

@{
    this.ViewData["Title"] = @Model.Name + " " + @Model.Model;
}
<h2>@this.ViewData["Title"]</h2>

<div>
    <div class="row">
        @*<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var img in Model.Image)
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@img" alt="First img">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
        <div class="col-lg-4">
            <div>
                <img src="@Model.Image" class="embed-responsive">
            </div>
        </div>
        <div class="col-lg-6" style="padding-left: 50px">
            <div>
                <h2 style="padding-top: 8px">@Model.Name @Model.Model</h2>
                <div class="col-md-3">
                    <div>
                        <img src="@Model.ManufacturerImage" class="embed-responsive">
                    </div>
                </div>
                <span style="font-weight: bold">@Model.UnitPrice лв.</span>
                <div>
                    <p style="padding-top: 8px">@Model.Description</p>
                </div>
                <div class="">
                    <span style="color: #00e600">Expected Delivery in 2-5 days</span>
                </div>
                <div>
                    <div class="input-group " style="padding-top: 12px" align="left">
                        <p align="left" style="padding-right: 10px; font-weight: bold">
                            Quantity:
                            <input class="form-control col-md-4" type="number" value="1" name="quantity">
                        </p>

                    </div>
                    <button class="btn-outline-success" type="submit">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <h4 style="font-weight: bold">Specifications</h4>
            <div>
                <ul>
                    @if (Model.Length.HasValue)
                    {
                        <li>Length = @Model.Length m.</li>
                    }
                    @if (Model.Weight.HasValue)
                    {
                        <li>Weight = @Model.Weight kg.</li>
                    }
                    @if (Model.Width.HasValue)
                    {
                        <li>Weight = @Model.Width mm.</li>
                    }
                </ul>
                <p class="col-md-8">
                    @Model.Specifications
                </p>
            </div>
        </div>
    </div>
</div>



